.services {
  width: 100%;
  margin-top: 1em 0;
  display: flex;
  justify-content: space-around;
  font-family: "Signika Negative", sans-serif;
}
.card {
  width: 25%;
  text-align: center;
  box-shadow: 0 0 1px rgb(22, 22, 21);
  padding: 1em;
  margin-top: 30px;
}
.serviceImg {
  width: 400px;
  height: 400px;
  object-fit: contain;
}
@media screen and (max-width: 990px) {
  .services {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .card {
    width: 40%;
    margin-bottom: 2em;
    margin-right: 1em;
  }
  .serviceImg {
    width: 180px;
    height: 180px;
    object-fit: contain;
  }
}

@media screen and (max-width: 1074px) {
  .services {
    display: column;
  }
  .card {
    width: 60%;
    margin: 1em;
  }
}
@media screen and (max-width: 768px) {
  .services {
    display: column;
  }
  .card {
    width: 70%;
    margin: 1em;
  }
}
